
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
body{
background:rgb(255, 255, 255);
margin:0;
}


/* road stuff */
#line{
  height:auto;
}
#roadYellow{
/* position:absolute; */
top:50vh;
overflow:visible;
stroke-dasharray: 1vh;

}
#roadBG{
  /* position:absolute; */
  top:50vh;
  overflow:visible;
  height: auto;
}

/* car */
#car{
  position: fixed;
  transform-origin: 0, 0;
  transform: rotate(30) translate(1, 1);
  /* scale:0.5; */
}

#parent{
  position:absolute;
  top:50vh;
  width:100%;
}
.about-stuff{
  position:relative;
}
/* pictures */
/* .in-view{
  transition:left 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.5s cubic-bezier(1,-0.04,1,.54);
} */

#farm{
  left:100vw;
  width: min-content;
  margin-top:40vh;
  margin-bottom: max(70vh, 45vw);
}
#farm .img{
  left: 0vw;
}
#farm .img.in-view{
  width:25vw !important;
  left: -30vw !important;
}
#farm .text{
  left: 0vw;
  width:30vw;
}
#farm .text.in-view{
  left: -60vw !important;
}

#organic{
  left:100vw;
  width: min-content;
}
#organic .img{
  left: 0vw;
}
#organic .img.in-view{
  width:25vw !important;
  left: -30vw !important;
}
#organic .text{
  left: 0vw;
  width: 25vw;
  margin-top: 20vw;
}
#organic .text.in-view{
  left: -30vw !important;
}
.img{
  transform-origin: center center;
  position: absolute;
  width: 10vw;
  height: auto;
  border-radius: 30px;

  transition:left 0.5s ease-in-out, width 0.5s ease-in-out;
}
.text{
  transform-origin: center center;
  position: absolute;
  height: auto;
  border-radius: 30px;
  font-family:'Courier New', Courier, monospace;
  font-size: 1.2vw;
  opacity: 0%;
  
  transition:left 0.5s ease-in-out, opacity 0.5s cubic-bezier(0,0.75,0,0.75);
}
.text.in-view{
  opacity: 100% !important;
  transition:left 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.75,0,0.75,0);
}