
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}
body{
background-image:url("resources/about\ background.jpg");
background-repeat: no-repeat;
background-size: 100vw;
}


/*dfsadsa road stuff */
.line{
  height:auto;
  position: absolute;
}
.line #roadYellow{
/* position:absolute; */
top:50vh;
overflow:visible;
stroke-dasharray: 1vh;
position: absolute;
}
.line #roadBG{
  /* position:absolute; */
  top:50vh;
  overflow:visible;
  height: auto;
  position: absolute;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
#car{
  position: absolute;
  height:100vh;
}
/* car */
#innerCar{
  position: fixed;
  transform-origin: 0, 0;

  transform: rotate(30) translate(1, 1) scale(0.7);
  color: red;
  /* scale:0.5; */
}

#parent{
  position:absolute;
  top:50vh;
  width:100%;
}
.about-stuff{
  position:relative;
  background-color: white;
}
/* pictures */
/* .in-view{
  transition:left 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.5s cubic-bezier(1,-0.04,1,.54);
} */

.about-stuff{
  background-color: rgb(0, 0, 0);
  width: 55vw;
  display:flex;
  justify-content: space-evenly;
  padding-block: 2%;
  padding-inline: 1%;
  border-radius: 30px;
  flex-wrap: wrap;
  transition: right 1s ease;
  
  p {
    width: 25vw;
    color: black;
    position: relative;
    transform-origin: center center;
    position: relative;
    height: auto;
    border-radius: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.1vw;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
  }
  img {
    position: relative;
    width: 40%; 
  }
}
#farm{
  width: 50vw;
  top: 30vh;
  right: -100vw;
}
.in-view#farm{
  right: -45vw;
  transition: right 1s ease;
  p{
    opacity: 100%;
  }
}
.line{
  visibility: visible;
}
.mobile{
  visibility: hidden;
}


.text.in-view{
  opacity: 100% !important;
  transition:left 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.75,0,0.75,0);
}

@media only screen and (max-width: 1520px) {
  #fresh{
    top: -20vh;
  }
  #emissions{
    top:-45vh;
  }
}
@media only screen and (max-width: 1250px) {
  #fresh{
    top: -19vh;
  }
  #fresh .text{
    top: -35vh;
  }
  #emissions{
    top:-42vh;
  }
}

@media only screen and (max-device-width: 1100px) {
  #navbar{
    position: fixed !important;
    top:0 !important;
  }
  .line {
    margin-top: 4vh;
    position: fixed;
  }
  .mobile{
    visibility: visible;
    position: absolute;
    scale: 3;
  }
  .mobile #roadYellow{
    position: relative;
    transform: translate(10vw, 0vh);
  }
  .mobile #roadBG{
    position: absolute;
    transform: translate(10vw, 0vh);
  }
  .mobile{
    position: absolute;
    top:-40vh;
  }
  .line{
    visibility: hidden;
  }
  .img{
    width: 20vw;
    top: 10vh;
    opacity: 0%;
    transition:top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  .img .in-view{
    opacity: 100%;
    top: 0vh;
    transition:top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  #car{
    position: fixed;
    transform: rotate(180) translate(20, 100) scale(2.5vw);
  }
}