
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
:root {
  --bg1: rgba(42, 56, 50, 0.452);
  --bg2: rgba(73, 51, 38, 0.253)
}
html::-webkit-scrollbar {
  display: none;
}
body{
background: linear-gradient(155deg, #213b30, rgb(9, 88, 42));
background-repeat: no-repeat;
background-size: 100vw;

overflow-y: hidden !important;
}

.T{
  color:#ffffff;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  position: relative;
  font-size: 5vh;
  font-family: monospace;
}
/*dfsadsa road stuff */
.line{
  height:auto;
  position: relative;
  top: -40vh;
}
.line #roadYellow{
  overflow:visible;
  stroke-dasharray: 1vh;
  position: absolute;
}
.line #roadBG{
  overflow:visible;
  height: auto;
  position: absolute;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
#car{
  position: absolute;
  height:100vh;
}
/* car */
#innerCar{
  position: fixed;
  transform-origin: 0, 0;

  transform: rotate(30) translate(1, 1) scale(0.7);
  color: red;
  /* scale:0.5; */
}

#parent{
  position:absolute;
  top:10vh;
  width:100%;
}

.about-stuff{
  position: relative;
  background-color: rgba(4, 4, 4, 0.5);
  backdrop-filter: blur(25px);
  
  width: 45vw;
  display:flex;
  justify-content: space-evenly;
  padding-block: 2%;
  /* padding-inline: 1%; */
  border-radius: 30px;
  flex-wrap: wrap;
  transition: right 1s ease;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  p {
    text-align: center;
    width: 22vw;
    color: white;
    position: relative;
    transform-origin: center center;
    position: relative;
    height: auto;
    border-radius: 30px;
    font-family:  monospace;
    font-size: 1.1vw;
    opacity: 0%;
    transition: opacity 0.5s ease-in-out;
  }
  img {
    position: relative;
    width: 18vw; 
    border-radius: 20px;
  }
  
}
#farm{
  width: 50vw;
  top: 30vh;
  right: -100vw;
}
.in-view#farm{
  right: -45vw;
  transition: right 1s ease;
  p{
    opacity: 100%;
  }
}
#organic{
  width: 28vw;
  top: 45vh;
  right: -100vw;
}
.in-view#organic{
  right: -70vw;
  transition: right 1s ease;
  p{
    opacity: 100%;
  }
}
#fresh{
  width: 50vw;
  top: 85vh;
  right: -100vw;
}
.in-view#fresh{
  right: -40vw;
  transition: right 1s ease;
  p{
    opacity: 100%;
  }
}
#emissions{
  width: 45vw;
  top: 90vh;
  right: -100vw;
}
.in-view#emissions{
  right: -50vw;
  transition: right 1s ease;
  p{
    opacity: 100%;
  }
}
@media only screen and (max-width: 1700px) {
  #fresh{
    top: 80vh;
  }
  #emissions{
    top: 90vh;
  }
  .in-view#emissions{
    right: -55vw;
  }
}

.mobile{
  display: none;
  width: 100vw;
}


.text.in-view{
  
  opacity: 100% !important;
  transition:left 0.5s ease-in-out, opacity 0.5s cubic-bezier(0.75,0,0.75,0);
}


@media only screen and (max-width: 1100px) {
  #navbar{
    position: fixed !important;
    top:0 !important;
  }
  body{
    background-repeat:repeat-y;
  }
  .T{
    font-size: 3vh;
    margin-top: 15vh;
    margin-left: 15vw;
  }
  .line {
    display: none;
  }
  .mobile{
    display: block;
    height:auto;
    position: absolute;
    top: 8vh;
  }
  .mobile #roadYellow{
  overflow:visible;
  stroke-dasharray: 1vh;
  position: absolute;
  }
  .mobile #roadBG{
    /* position:absolute; */
    top:50vh;
    overflow:visible;
    height: auto;
    position: absolute;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  }
  #car{
    position: fixed !important;
    scale: 1.8 !important;
    rotate: 180deg !important;
  }
  #parent{
    margin-top: 20%;
    top: 0;
    position: relative;
  }
  .about-stuff{
    display: flex;
    flex-wrap: wrap;
    right: 0 !important;
    top: 10vh !important;
    margin-left: 20%;
    opacity: 0;
    width: 70vw !important;
    height: fit-content;
    margin-bottom: 8%;
    flex-direction: column-reverse;
    justify-content: center;
    transition: opacity 0.3s ease-in, 0.3s ease-in !important;
    .text{
      text-align: center;
      width: 95%;
      font-size: 80%;
      margin-left: 3%;
      margin-right: 5%;
    }
    .img{
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

  }
  .in-view{
    top: 0vh !important;
    opacity: 1;
    transition: opacity 0.3s ease-in, 0.3s ease-in !important;
  }
}