:root {
    --bg1: rgba(42, 56, 50, 0.452);
    --bg2: rgba(73, 51, 38, 0.253);
    --accent: rgb(224,188,164);
    --lightGreen: rgba(98, 190, 159, 0.227);
  }
body{
    font-family:'Courier New', Courier, monospace;
}
.button{
    background-color:var(--lightGreen);
    border:1px solid #105f35;
    padding-inline: 2%;
    position:relative;
    width: fit-content;
    cursor: pointer;    
    border-radius: 0.5vw;
    height: 2vw;
}
.hov{
    font-family:'Courier New', Courier, monospace;
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    box-shadow:4px 4px 0px 0px #105f35;
    padding: 4%;
    padding-inline: 8%;
    border-radius: 1.5vw;
    .errorPopup {
        visibility: hidden;
        background-color:#000000;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 8px 0;
        position: absolute;
        bottom: 125%;
        left: 50%;
        margin-left: -40%;
    }
    
    .errorPopup::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000000 transparent transparent transparent;
        opacity: 1;
    }
}
#homeButton{
    font-size: max(2vw, 2vh);
    border-radius: 50px;
    padding: 2%;
    padding-inline: 5%;
}
.hov:hover{
    box-shadow:0 0 0 0 white !important;
}
.map{

    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 5%;
    
    #mapFrame{
        height: 80vh;
        width: 40vw;
        border-radius: 30px;
        
    }
    .form{
        margin-left: 20%;
    }
    #Feedback{
        width: min(max(30vw, 50vh), 70vw);
        height: 10vh;
    }
    
}

.overlay{
    position: fixed;
    visibility:hidden;
    top: 0vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:fit-content;
    height:100vh;
    width: 100vw;
    
    background: var(--bg1);
    .popup{
        margin-left: 5%;
        margin-right: 5%;
        width: fit-content;
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        justify-items: center;
        background-color:#ffffff;
        border-radius: 30px;
        justify-content: flex-end;
        font-size: max(2.5vw, 2vh);
        padding: 2%;
    }
}
@media only screen and (max-width: 1100px) {
    .map #mapFrame{
        height: 40vh;
        width: 80vw;
        margin-left: 6%;
    }
    .map .form .item{
        height: 2vh;
        margin-left: 0%;
    }
    .popup #homeButton{
        margin-right: 10%;
        margin-bottom: 1%;
    }
}