.typewriter_box{
    width: 30vw;
    height: 20vh;
    padding-bottom: 3vh;
    padding-left: 10vw;
    position: relative;
    right: 3vw;
    top: 4vh
    
}


body {
  font-family: monospace;
  background:rgba(33,59,48,255);
  overflow-x: hidden;
}

.typewriter {
  
  font-family: monospace;
  font-weight: 700;
  font-size:4vw;
  
  color:#0000;
  background:
    linear-gradient(-90deg, white 5px,#0000 0) 10px 0,
    linear-gradient(white 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .2s infinite steps(1),   
   t calc(var(--n)*.1s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

section.vid{
  
  height: 500vh;
  position: relative;
  bottom: 50vh;
}
section.vid div.holder{
  position: sticky;
  top: 0;
}
section.vid video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
section.vid div.slogan{
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  color: #F3F2ED;
}
section.vid div.slogan div{
  font-size: 10vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.vid div.slogan div.breaksmall{
  height: 100vh;
}
section.vid div.slogan div.break{
  height:  200vh;
}




section.special{
  color: rgb(0, 232, 249);
  position: relative;
  right: 4vw;
  top: 20vh;
}
.special_header{
    
    font-size: 2vw;
    animation-fill-mode: forwards;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    /* justify-self: center; */
}
.special_header.in-view{
  animation: fadeIn 3s;
}
.about_us{
  bottom: 5vh;
  position: relative;
  color: white;
  left: 5.5vw;
  font-size: 1vw;
}
.about_us.in-view{
  animation: fadeIn 3s;
}
.twitter{
    position: relative;
    font-size: 2vw;
    left: 80vw;
    bottom: 40vh;
    color: rgb(0, 110, 255);
}
.twitter_bird{
    position: relative;
    width: 6vw;
    height: 10vh;
    left: 13vw;
    bottom: 30vh;
}
.button:hover{
	box-shadow:0 0 0 0 white;
}
.button {
  font-size: 16px;
    left: 7vw;
    top: 18vh;
    border:1px solid lightblue;
	color: green;
	box-shadow:4px 4px 0px 0px green;
    position:relative;
	background: white;
	padding:20px;
	letter-spacing:5px;
	text-transform:uppercase;
	transition: all 300ms ease-in-out;
  height: 75px;
	width: 200px;
    cursor: pointer;    
    border-radius: 4dvh;
    bottom: -3vh;
  }
  .button.in-view{
    
    animation: fadeIn 2s
  }
  .noodles{
    z-index: 3;
    background: url("https://github.com/aarushth/TSA-Website-Pictures/blob/main/noodles.png?raw=true")  no-repeat;
    background-size: 120vh;
    position: relative;
    bottom: 75vh;
    left: 40vw;
    height: 120vh;
    width: 700vw;
    animation: fadeIn 2s;
  }
.Vishruth{
  position: relative;
  bottom: 30vh;
  /* height: 20vh; */
  color: white;
}
.Vishruth_image{
  position: relative;
  left: 2vw;
  height: 150vh;
  width: 60vw;
}
.lines{
  position: relative;
  left: 6vw;
  width: 50vw;
  object-fit: contain;
  height: 60vh;
  bottom: 26vh;
}
.Vishruth_p{
  color: rgb(255, 180, 153);
  position: relative;
  font-size: 2.6vw;
  bottom: 185vh;
  left: 60vw;
  width: 35vw;
}
.Vishruth_Title{
  font-family: monospace;
  position: relative;
  color: coral;
  bottom: 190vh;
  font-size: 3vw;
  left: 60vw;
  @media only screen     and (max-device-width: 1100px) {
    opacity: 0;
}
  
  
}
.Vishruth_Title::after{
  content: '';
  display: block;
  position: absolute;
  margin: 0 left;
  inset: 0 ;
  width: 3%;
  border-bottom: solid 4px white;
  transition: all 1s ease 500ms;
}
.Vishruth_Title.in-view::after{
  width: 30%;
}
.Vishruth_Title.in-view{
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
  