.typewriter_box{

    height: min-content;
    padding-bottom: 3vh;
    padding-left: 10vw;
}


.typewriter::before {
  
  content: "";
  animation: 
  type var(--timePerLine) linear infinite, 
  carriageReturn var(--time) steps(var(--lines)) var(--lines),
  caret 0.5s steps(2) infinite;
  background: var(--bgColor);
  border-left: 2px solid;
  bottom: 0;
  height: 10vw;
  position: absolute;
  right: 0;
  width: 100%;
  
}
.typewriter.in-view{
  color: white;
  --bgColor: #000000;
  font-size: 5vw;
  --lines: 500;
  --lineHeight: 5vw;
  --timePerLine: 3.5s;
  --widthCh: 13;
  --width: calc(var(--widthCh) * 1ch);
  /* do not touch the time property!!! */
  --time: calc(var(--lines) * var(--timePerLine));
  animation: grow var(--time) steps(var(--lines));
  
  animation-fill-mode: forwards;
  background: var(--bgColor);  
  line-height: var(--lineHeight);
  max-height: var(--lineHeight);
  overflow: hidden;
  position: relative;
  width: var(--width);
}

section.vid{
  height: 200vh;
  position: relative;
  top: 0;
}
section.vid div.holder{
  position: sticky;
  top: 0;
}
section.vid video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
section.vid div.slogan{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #F3F2ED;
}
section.vid div.slogan div{
  font-size: 10vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: left;
}
section.vid div.slogan div.break{
  height:  200vh;
}
.special_header{
    color: white;
    font-size: 3vh;
    top: 18vh;
    animation-fill-mode: forwards;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    /* justify-self: center; */
}
.special_header.in-view{
  animation: fadeIn 3s;
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}

.twitter{
    position: relative;
    font-size: 2vw;
    left: 80vw;
    bottom: 40vh;
    color: rgb(0, 110, 255);
}
.twitter_bird{
    position: relative;
    width: 6vw;
    height: 10vh;
    left: 13vw;
    bottom: 30vh;
}
.button:hover{
	box-shadow:0 0 0 0 white;
}
.button {
    
    border:1px solid #105f35;
	color:#105f35;
	box-shadow:4px 4px 0px 0px #105f35;
    position:relative;
	background:#F3F2ED;
	padding:20px;
	letter-spacing:5px;
	text-transform:uppercase;
	transition: all 300ms ease-in-out;
	width: 9vw;
    cursor: pointer;    
    border-radius: 4dvh;
    bottom: -3vh;
  }
  .button.in-view{
    
    animation: fadeIn 2s
  }
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}
@keyframes grow {
    0% { max-height: var(--lineHeight); }
    100% { max-height: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes carriageReturn {
    0% { top: 0; }
    100% { top: calc(var(--lineHeight) * var(--lines)); }
  }
  
  @keyframes type {
    0% { width: 100%; }
    100% { width: 0%; }
  }
  
  @keyframes caret {
    0% { color: var(--bgColor); }
    100% { color: black; }
  }
  
  
   

  
  
  
  