.typewriter_box{

    height: min-content;
    padding-bottom: 3vh;
    padding-left: 10vw;
}
.typewriter{
    position: relative;
    display: flex;
    justify-content: center;
    width:min-content;
    height: min-content;

}

.special{
    animation-delay: 3s;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    /* justify-self: center; */
}
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
.typewriter p{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 5vw;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(23) forwards,
    blink 1s step-end infinite;
    
}
.button:hover{
	box-shadow:0 0 0 0 white;
}
.button {
    animation-delay: 3s;
    animation: fadeIn 3s;
    border:1px solid #105f35;
	color:#105f35;
	box-shadow:4px 4px 0px 0px #105f35;
    position:relative;
	background:#F3F2ED;
	padding:20px;
	letter-spacing:5px;
	text-transform:uppercase;
	transition: all 300ms ease-in-out;
	width: 180px;
    cursor: pointer;
    /* background-color: rgb(0, 185, 123);
    width: 9dvw;
    transform-origin: center;
    height: 6dvh;
    position: relative;
    left: 8dvw;
    bottom: -10dvh;
    color: rgb(0, 0, 0);
    padding: 0.3dvh 1.3dvw;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4dvw;
    margin: 4px 2px;
    cursor: pointer; */
    
    border-radius: 4dvh;
  }

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}