:root {
    --bg1: rgba(42, 56, 50, 0.452);
    --bg2: rgba(73, 51, 38, 0.253);
    --darkGreen: #213b30;
    --accent: rgb(224, 188, 164);
    --lightGreen: rgba(98, 190, 159, 0.227);
  }
body{
    justify-content: space-evenly;
    /* background:  linear-gradient(155deg, #213b30, rgb(9, 88, 42)); */
    background-color: #213b30;
    background-image:         linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh); /* W3C */
    background-image:    -moz-linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh);
    background-repeat: no-repeat !important;
    font-family: monospace;
    min-height: 100vh;
    height:  fit-content;
}
.overlay{
    position: fixed;
    visibility:hidden;
    top: 0vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:fit-content;
    height:100vh;
    width: 100vw;
    
    background: var(--bg1);
    .popup{
        margin-left: 2%;
        margin-right: 2%;
        width: fit-content;
        display: flex;
        height: 80vh;
        flex-wrap: wrap;
        justify-items: center;
        background-color:#ffffff;
        border-radius: 30px;
        justify-content: flex-end;
        font-size: 4vh;
        @media only screen and (max-device-width: 1100px) {
            font-size: 5vw;
        }
        .bill{
            align-content: center;
            width: 100%;
            position: relative;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            
            .right{
                display: flex;
                flex-wrap: wrap;
                margin-right: 5%;
            }
            .list{
                list-style-type: none;    
            }
        }
        .homeDiv{
            align-self: flex-end;
            border-top: dashed #105f35;
            height: fit-content;
            width:100%;
            align-items: center;
            .totalDiv{
                margin-top: 5%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                .total{
                    margin-right: 12%;
                    /* margin-right: 10%; */
                    position: relative;
                    height: fit-content;               
                } 
            }
            .buttonDiv{
                font-size: 2.5vh;
                margin-top: 10%;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .thankyou{
                    text-align: center;
                    width: fit-content;
                    position: relative;
                }
                
                #homeButton {
                    justify-self: flex-end;
                    margin-bottom: 5%;
                    padding: 2%;
                    @media only screen and (max-device-width: 1100px) {
                        padding: 5%;
                    }
                  }
            }
        }   
    }
}
.menu_item{
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
    border-radius: 20px;
    border:1px solid var(--accent);
    background-color: white;
    box-shadow:2px 2px 0px 0px var(--accent);
    align-content: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item-description{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .img{
            position: relative;
            align-self: center;
            height: 8vh;
            max-width: 100%;
            max-height: 100%;
            
        }
        .name{
            position: relative;
            align-self: center;
            font-size: max(3vw, 2vh);
        }
        
    }
    
    .quantity-selector{
        
        position: relative;
        display:flex;
        width: fit-content;
        align-items:center;
        justify-content: space-evenly;
        margin-right: 10vw;
        
        font-size: max(1vw, 2vh);
        .price{
            position: relative;
            font-family:monospace;
            
            margin-right: 20%;
        }
        .number{
            width: 3vw;
            position: relative;
            margin-right: 5%;
            margin-left: 5%;
            text-align: center;
        }
        .inc{
            background-color: var(--lightGreen);
            box-shadow:2px 2px 0px 0px #105f35;
            padding: min(10%, 1vh);
            width: fit-content;
            height: fit-content;
        }
    }
}
.checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 1%;
    margin-top: 3%;
    font-size:  max(2vw, 2vh);
    #total{
        color: #ffffff;
        margin-right: 3%;
        font-family: monospace;
    }
    #checkoutbutton {
        padding: 2%;
        font-size: max(1vw, 2vh);
        font-family:monospace;
        background-color:#ffffff;
        border:1px solid var(--accent);
    
        box-shadow:4px 4px 0px 0px var(--accent);
        .errorPopup {
            visibility: hidden;
            background-color:#000000;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }
        
        .errorPopup::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #000000 transparent transparent transparent;
            opacity: 1;
        }
      }
}
.button{
    background-color:var(--lightGreen);
    border:1px solid #105f35;
    
    box-shadow:4px 4px 0px 0px #105f35;
    position:relative;

    width: fit-content;
    cursor: pointer;    
    border-radius: 4dvh;
}
.button:hover{
    box-shadow:0 0 0 0 white !important;
}
