:root {
    --bg1: rgba(42, 56, 50, 0.452);
    --bg2: rgba(73, 51, 38, 0.253);
    --accent: rgb(224,188,164);
    --lightGreen: rgba(98, 190, 159, 0.227);
  }
  .everything{
    background-color: #213b30;
    background-image:         linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh); /* W3C */
    background-image:    -moz-linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #213b30 0%, rgb(13, 145, 68) 200vh);
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    overflow-y: hidden;
}
  .T{
    color: #ffffff;
    justify-self: center;
    position: relative;
    font-size: 5vh;
    font-family: monospace;
  }

.source{
    font-family: monospace;
    text-align: center;
    text-wrap: wrap;
    background: white;
    border: 2px solid green;
    width: 100%;
    padding-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    margin-top: 5%;
    opacity: 0;
    transition: opacity 0.5s ease-in!important;
    min-height: 5vh;
}
.source.inView{
    margin-top: 0%;
    opacity: 1 !important;
    transition: opacity 0.5s ease-in!important;
    text-align: left;
    padding-inline: 5rem;

}